---
import MyAstroComponent from "$components/MyAstroComponent.astro";
import MyAwesomeComponent from "$components/MyJSXComponent";
import MySvelteComponent from "$components/MySvelteComponent.svelte";
import MyVueComponent from "$components/MyVueComponent.vue";
---

<div>
	<MyVueComponent></MyVueComponent>
	<MySvelteComponent></MySvelteComponent>
	<MyAwesomeComponent></MyAwesomeComponent>
	<MyAstroComponent></MyAstroComponent>
</div>
